<form role="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="contactFirstName" placeholder="Your name here">
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone" placeholder="Your phone here">
  </div>
  <div class="form-group">
    <label for="emailAddr">Email</label>
    <input type="email" class="form-control" id="emailAddr" placeholder="Email address">
  </div>
  <div class="form-group">
    <label for="contactComment">Comment</label>
    <input type="password" class="form-control" id="contactComment" placeholder="Question or comment here">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>